body{ font-family: "Times New Roman";
	   background: rgb(252,116,116);
       background: linear-gradient(135deg, 
                            rgba(252,116,116,0.9584033442478554) 0%, 
                            rgba(247,157,112,0.8575630081134016) 50%, 
                            rgba(241,108,184,0.9415966215587798) 100%);
	}
	
h1{ text-align: center;
	background-color: #ff5436;
    color: white;
	font-family: "Arial", sans-serif;}
	
h2{ font-family: "Arial", sans-serif; }
	
p{ text-align: justify; }