body{ font-family: "Times New Roman";
	   background: rgb(252,116,116);
       background: linear-gradient(135deg, 
                            rgba(248, 84, 84, 0.863) 0%, 
                            rgba(247, 132, 112, 0.858) 50%, 
                            rgba(241, 108, 141, 0.856) 100%);
        background-repeat: no-repeat;
        background-size: 100% 100%;
	}
	
h1{ text-align: center;
	background-color: #ff5436;
    color: #ffeae7;
	font-family: "Arial", sans-serif;}
	
h2{ font-family: "Arial", sans-serif; }
	
p{ text-align: justify; }

#menu ul {
    padding:0px;
    margin:0px;
    background-color:#EDEDED;
    list-style:none;
}

#menu ul li { display: inline; }

#menu ul li a {
    padding: 2px 10px;
    display: inline-block;

    /* visual do link */
    background-color:#EDEDED;
    color: rgb(73, 14, 14);
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
}

#menu ul li a:hover {
    background-color:rgb(247, 217, 247);
    color: rgb(90, 16, 41);
    border-bottom:3px solid rgb(255, 115, 157);
}